body{
	background-color: #2aa22a;
	font-family: 'Simonetta', cursive;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron{
	/*background-color: #2aa22a;*/
}

header{
	text-align: center;
	/*padding-top: 20px;*/
	font-size: 50px;
	letter-spacing: 3px;
	color: darkblue;
}

button{
	border: none;
	background-color: orange;
	width: 350px;
	height: 60px;
	font-size: 15px;
	display: inline-block;
	transition-duration: 0.3s;
	/*margin-top: 170px;*/
	border-radius: 5px;
}

button:hover{
	background-color: #4CAF50; /* Green */
    color: white;
}

button:focus{
	outline: none;
}

button span{
	font-size: 20px;
}

button:active {
  box-shadow: 0 3px 0 #00823F;
  top: 3px;
}

ul{
	list-style-type: none;
}

#block{
	overflow-x: scroll;
}

ul li:hover{
	background-color: #808080;
}

ul li:active{
	background-color: #b3b3b3;
}